/*-----------------+
| IMPORT THE FONTS |
+-----------------*/
@import url('https://fonts.googleapis.com/css?family=Fira+Code|IBM+Plex+Sans|Merriweather&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0 10%;
    background-image: url('/img/fishnets-and-hearts.png');
    background-repeat: repeat;
}


h1,h2,h3 {
    font-family: 'Merriweather';
}

[class^="outline-"] > h2 {
    padding: 3px;
    color: #3E4980;
    background: #C0DAE6;
    margin: 10px 10px 0px -37px;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

#content {
    display: inline-grid;
    grid-template-areas: 'toc header'
        'toc _'
        'footer footer';
    width: 70%;
    margin-left: 10%
}

[class^="outline-"] {
    grid-row: auto;
    grid-column: 2;
    background-color: aliceblue;
    padding: 0px 0 0 20px;
    margin: 15px 2px 0px 15px;
    
}
#content > [class^="outline"] {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
[class^="outline-"]:last-of-type {
    margin: 15px 15px 15px 15px;
}

a {
    color: #B38F82;
}
a:visited {
    color: #9095AD;
}

div [id^="text"] {
    font-size: 1.2em;
    font-family: 'IBM Plex Sans';
}

#table-of-contents {
    background-color: none;
    padding: 20px;
    grid-area: toc;
    grid-row-end: 999;
    color: #B38F82;
}

#table-of-contents ul:first-child {
    margin: 10px;
    margin-left: 0px;
    border-left: 6px solid #B38F82;
    padding: 15px;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
}

#table-of-contents ul {
    color: #B38F82;
    list-style: none;
    padding-left: 5px;
}

#table-of-contents ul li a {
    text-decoration: none;
}


#postamble {
    margin: 0;
    grid-area: footer;
    background-color: black;
    height: 100px;
}

#postamble * {
    color: white;
    margin: 0;
}

p.author {
} /* author information, including email */
p.date {
} /* publishing date */
p.creator {} /* creator info, about org mode version */
header {
    grid-area: header;
    padding: 60px;
    text-align: center;
    background: #3E4980;
    color: white;
    width: auto;
} /* document title */
.subtitle {} /* document subtitle */
.todo {
    background-color: #000000;
} /* TODO keywords, all not-done states */
.done {} /* the DONE keywords, all states that count as done */
.WAITING {} /* each TODO keyword also uses a class named after itself */
.timestamp {} /* timestamp */
.timestamp-kwd {} /* keyword associated with a timestamp, like ‘SCHEDULED’ */
.timestamp-wrapper {} /* span around keyword plus timestamp */
.tag {} /* tag in a headline */
._HOME {} /* each tag uses itself as a class, “@” replaced by “_” */
.target {} /* target for links */
.linenr {} /* the line number in a code example */
.code-highlighted {} /* for highlighting referenced code lines */
div.outline-N {} /* div for outline level N (headline plus text) */
div.outline-text-N {} /* extra div for text at outline level N */
.section-number-N {} /* section number in headlines, different for each level */
.figure-number {} /* label like “Figure 1:” */
.table-number {} /* label like “Table 1:” */
.listing-number {} /* label like “Listing 1:” */
div.figure {} /* how to format an in-lined image */


pre.src {
    font-family: 'Fira Code';
    font-size: 0.781em;
    color: white;
    background-color: black;
    width: auto;
    padding: 10px;
    border-radius: 5px;
} /* formatted source code */
pre.example {} /* normal example */

p.verse {} /* verse paragraph */
div.footnotes {} /* footnote section headline */
p.footnote {} /* footnote definition paragraph, containing a footnote */
.footref {} /* a footnote reference number (always a <sup>) */
.footnum {} /* footnote number in footnote definition (always <sup>) */
.org-svg {} /* default class for a linked ‘.svg’ image */
